SyncPetClient/src/conf/xml-resources/web-service-references/SrvAgendamiento/wsdl/localhost_8080/SyncPetServices/SrvAgendamiento.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:element name="agenda" type="tns:agenda"/>

<xs:element name="agendaDetalle" type="tns:agendaDetalle"/>

<xs:element name="agendarHorario" type="tns:agendarHorario"/>

<xs:element name="agendarHorarioResponse" type="tns:agendarHorarioResponse"/>

<xs:element name="caracter" type="tns:caracter"/>

<xs:element name="clinica" type="tns:clinica"/>

<xs:element name="comuna" type="tns:comuna"/>

<xs:element name="detalleUltimoEventoRegistrado" type="tns:detalleUltimoEventoRegistrado"/>

<xs:element name="detalleUltimoEventoRegistradoResponse" type="tns:detalleUltimoEventoRegistradoResponse"/>

<xs:element name="detalleUsuarios" type="tns:detalleUsuarios"/>

<xs:element name="especie" type="tns:especie"/>

<xs:element name="habitad" type="tns:habitad"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="horasOcupadas" type="tns:horasOcupadas"/>

<xs:element name="horasOcupadasResponse" type="tns:horasOcupadasResponse"/>

<xs:element name="listaVeterinarios" type="tns:listaVeterinarios"/>

<xs:element name="listaVeterinariosResponse" type="tns:listaVeterinariosResponse"/>

<xs:element name="mascota" type="tns:mascota"/>

<xs:element name="pais" type="tns:pais"/>

<xs:element name="perfiles" type="tns:perfiles"/>

<xs:element name="propietario" type="tns:propietario"/>

<xs:element name="provincia" type="tns:provincia"/>

<xs:element name="raza" type="tns:raza"/>

<xs:element name="region" type="tns:region"/>

<xs:element name="sucursal" type="tns:sucursal"/>

<xs:element name="ultimoEventoRegistrado" type="tns:ultimoEventoRegistrado"/>

<xs:element name="ultimoEventoRegistradoResponse" type="tns:ultimoEventoRegistradoResponse"/>

<xs:element name="usuarios" type="tns:usuarios"/>

<xs:element name="veterinario" type="tns:veterinario"/>

<xs:complexType name="detalleUltimoEventoRegistrado">
<xs:sequence>
<xs:element name="pro" type="tns:propietario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="propietario">
<xs:sequence>
<xs:element name="amaterno" type="xs:string" minOccurs="0"/>
<xs:element name="apaterno" type="xs:string" minOccurs="0"/>
<xs:element name="celular" type="xs:int" minOccurs="0"/>
<xs:element name="comuna" type="tns:comuna" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="dv" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idPropietario" type="xs:int" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:int"/>
<xs:element name="sucursal" type="tns:sucursal" minOccurs="0"/>
<xs:element name="telefono" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comuna">
<xs:sequence>
<xs:element name="idComuna" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="provincia" type="tns:provincia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="provincia">
<xs:sequence>
<xs:element name="idProvincia" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="region" type="tns:region" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="idRegion" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="tns:pais" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pais">
<xs:sequence>
<xs:element name="idPais" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sucursal">
<xs:sequence>
<xs:element name="clinica" type="tns:clinica" minOccurs="0"/>
<xs:element name="comuna" type="tns:comuna" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idSucursal" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clinica">
<xs:sequence>
<xs:element name="dv" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="idClinica" type="xs:int" minOccurs="0"/>
<xs:element name="nombreFantasia" type="xs:string" minOccurs="0"/>
<xs:element name="nombreReal" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detalleUltimoEventoRegistradoResponse">
<xs:sequence>
<xs:element name="return" type="tns:agendaDetalle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agendaDetalle">
<xs:sequence>
<xs:element name="eventoAgenda" type="tns:agenda" minOccurs="0"/>
<xs:element name="idDetalle" type="xs:int" minOccurs="0"/>
<xs:element name="mascota" type="tns:mascota" minOccurs="0"/>
<xs:element name="veterinario" type="tns:veterinario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agenda">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fechaEvento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idEvento" type="xs:int" minOccurs="0"/>
<xs:element name="sucursal" type="tns:sucursal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mascota">
<xs:sequence>
<xs:element name="caracter" type="tns:caracter" minOccurs="0"/>
<xs:element name="defuncion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="foto" type="xs:string" minOccurs="0"/>
<xs:element name="grupoSanguineo" type="xs:string" minOccurs="0"/>
<xs:element name="habitad" type="tns:habitad" minOccurs="0"/>
<xs:element name="idMascota" type="xs:int" minOccurs="0"/>
<xs:element name="madre" type="tns:mascota" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="numeroChip" type="xs:int" minOccurs="0"/>
<xs:element name="padre" type="tns:mascota" minOccurs="0"/>
<xs:element name="peso" type="xs:integer" minOccurs="0"/>
<xs:element name="propietario" type="tns:propietario" minOccurs="0"/>
<xs:element name="raza" type="tns:raza" minOccurs="0"/>
<xs:element name="sexo" type="xs:unsignedShort" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="caracter">
<xs:sequence>
<xs:element name="idCaracter" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="habitad">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idHabitad" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raza">
<xs:sequence>
<xs:element name="especie" type="tns:especie" minOccurs="0"/>
<xs:element name="idRaza" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="especie">
<xs:sequence>
<xs:element name="familia" type="xs:string" minOccurs="0"/>
<xs:element name="idEspecie" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="veterinario">
<xs:sequence>
<xs:element name="amaterno" type="xs:string" minOccurs="0"/>
<xs:element name="apaterno" type="xs:string" minOccurs="0"/>
<xs:element name="dv" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="especialidad" type="xs:string" minOccurs="0"/>
<xs:element name="idVeterinario" type="xs:int" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ultimoEventoRegistrado">
<xs:sequence>
<xs:element name="pro" type="tns:propietario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ultimoEventoRegistradoResponse">
<xs:sequence>
<xs:element name="return" type="tns:agenda" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="horasOcupadas">
<xs:sequence>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="horasOcupadasResponse">
<xs:sequence>
<xs:element name="return" type="tns:agenda" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaVeterinarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listaVeterinariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:detalleUsuarios" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detalleUsuarios">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="sucursal" type="tns:sucursal" minOccurs="0"/>
<xs:element name="usuario" type="tns:usuarios" minOccurs="0"/>
<xs:element name="veterinario" type="tns:veterinario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuarios">
<xs:sequence>
<xs:element name="amaterno" type="xs:string" minOccurs="0"/>
<xs:element name="apaterno" type="xs:string" minOccurs="0"/>
<xs:element name="bloqueado" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="perfil" type="tns:perfiles" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="perfiles">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="perfil" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agendarHorario">
<xs:sequence>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sucursal" type="xs:int"/>
<xs:element name="veterinario" type="xs:int"/>
<xs:element name="paciente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agendarHorarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>