SyncPetClient/src/conf/xml-resources/web-service-references/SrvMascotas/wsdl/localhost_8080/SyncPetWebSource/SrvMascotas.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="SrvMascotas">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/SyncPetWebSource/SrvMascotas?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="listadoRazas">
<part name="parameters" element="tns:listadoRazas"/>
</message>
<message name="listadoRazasResponse">
<part name="parameters" element="tns:listadoRazasResponse"/>
</message>
<message name="listadoCaracter">
<part name="parameters" element="tns:listadoCaracter"/>
</message>
<message name="listadoCaracterResponse">
<part name="parameters" element="tns:listadoCaracterResponse"/>
</message>
<message name="registrarMascota">
<part name="parameters" element="tns:registrarMascota"/>
</message>
<message name="registrarMascotaResponse">
<part name="parameters" element="tns:registrarMascotaResponse"/>
</message>
<message name="listadoMascotasPorPropietario">
<part name="parameters" element="tns:listadoMascotasPorPropietario"/>
</message>
<message name="listadoMascotasPorPropietarioResponse">
<part name="parameters" element="tns:listadoMascotasPorPropietarioResponse"/>
</message>
<message name="listadoGruposSanguineos">
<part name="parameters" element="tns:listadoGruposSanguineos"/>
</message>
<message name="listadoGruposSanguineosResponse">
<part name="parameters" element="tns:listadoGruposSanguineosResponse"/>
</message>
<portType name="SrvMascotas">
<operation name="hello">
<input wsam:Action="http://servicios/SrvMascotas/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios/SrvMascotas/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="listadoRazas">
<input wsam:Action="http://servicios/SrvMascotas/listadoRazasRequest" message="tns:listadoRazas"/>
<output wsam:Action="http://servicios/SrvMascotas/listadoRazasResponse" message="tns:listadoRazasResponse"/>
</operation>
<operation name="listadoCaracter">
<input wsam:Action="http://servicios/SrvMascotas/listadoCaracterRequest" message="tns:listadoCaracter"/>
<output wsam:Action="http://servicios/SrvMascotas/listadoCaracterResponse" message="tns:listadoCaracterResponse"/>
</operation>
<operation name="registrarMascota">
<input wsam:Action="http://servicios/SrvMascotas/registrarMascotaRequest" message="tns:registrarMascota"/>
<output wsam:Action="http://servicios/SrvMascotas/registrarMascotaResponse" message="tns:registrarMascotaResponse"/>
</operation>
<operation name="listadoMascotasPorPropietario">
<input wsam:Action="http://servicios/SrvMascotas/listadoMascotasPorPropietarioRequest" message="tns:listadoMascotasPorPropietario"/>
<output wsam:Action="http://servicios/SrvMascotas/listadoMascotasPorPropietarioResponse" message="tns:listadoMascotasPorPropietarioResponse"/>
</operation>
<operation name="listadoGruposSanguineos">
<input wsam:Action="http://servicios/SrvMascotas/listadoGruposSanguineosRequest" message="tns:listadoGruposSanguineos"/>
<output wsam:Action="http://servicios/SrvMascotas/listadoGruposSanguineosResponse" message="tns:listadoGruposSanguineosResponse"/>
</operation>
</portType>
<binding name="SrvMascotasPortBinding" type="tns:SrvMascotas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoRazas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoCaracter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarMascota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoMascotasPorPropietario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoGruposSanguineos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SrvMascotas">
<port name="SrvMascotasPort" binding="tns:SrvMascotasPortBinding">
<soap:address location="http://localhost:8080/SyncPetWebSource/SrvMascotas"/>
</port>
</service>
</definitions>