SyncPetClient/src/conf/xml-resources/web-service-references/srvClinica/wsdl/localhost_8080/SyncPetServices/srvClinica.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:element name="clinica" type="tns:clinica"/>

<xs:element name="comuna" type="tns:comuna"/>

<xs:element name="getSucursal" type="tns:getSucursal"/>

<xs:element name="getSucursalResponse" type="tns:getSucursalResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="listadoClinicas" type="tns:listadoClinicas"/>

<xs:element name="listadoClinicasResponse" type="tns:listadoClinicasResponse"/>

<xs:element name="listadoSucursalByClinica" type="tns:listadoSucursalByClinica"/>

<xs:element name="listadoSucursalByClinicaResponse" type="tns:listadoSucursalByClinicaResponse"/>

<xs:element name="listadoSucursales" type="tns:listadoSucursales"/>

<xs:element name="listadoSucursalesResponse" type="tns:listadoSucursalesResponse"/>

<xs:element name="pais" type="tns:pais"/>

<xs:element name="provincia" type="tns:provincia"/>

<xs:element name="region" type="tns:region"/>

<xs:element name="sucursal" type="tns:sucursal"/>

<xs:complexType name="listadoSucursales">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listadoSucursalesResponse">
<xs:sequence>
<xs:element name="return" type="tns:sucursal" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sucursal">
<xs:sequence>
<xs:element name="clinica" type="tns:clinica" minOccurs="0"/>
<xs:element name="comuna" type="tns:comuna" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idSucursal" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clinica">
<xs:sequence>
<xs:element name="dv" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="idClinica" type="xs:int" minOccurs="0"/>
<xs:element name="nombreFantasia" type="xs:string" minOccurs="0"/>
<xs:element name="nombreReal" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comuna">
<xs:sequence>
<xs:element name="idComuna" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="provincia" type="tns:provincia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="provincia">
<xs:sequence>
<xs:element name="idProvincia" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="region" type="tns:region" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="idRegion" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="tns:pais" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pais">
<xs:sequence>
<xs:element name="idPais" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSucursal">
<xs:sequence>
<xs:element name="idClinica" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSucursalResponse">
<xs:sequence>
<xs:element name="return" type="tns:sucursal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listadoSucursalByClinica">
<xs:sequence>
<xs:element name="idClinica" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listadoSucursalByClinicaResponse">
<xs:sequence>
<xs:element name="return" type="tns:sucursal" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listadoClinicas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listadoClinicasResponse">
<xs:sequence>
<xs:element name="return" type="tns:clinica" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>