SyncPetClient/src/conf/xml-resources/web-service-references/srvClinica/wsdl/localhost_8080/SyncPetServices/srvClinica.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="srvClinica">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/SyncPetServices/srvClinica?xsd=1"/>
</xsd:schema>
</types>
<message name="listadoSucursalByClinica">
<part name="parameters" element="tns:listadoSucursalByClinica"/>
</message>
<message name="listadoSucursalByClinicaResponse">
<part name="parameters" element="tns:listadoSucursalByClinicaResponse"/>
</message>
<message name="listadoSucursales">
<part name="parameters" element="tns:listadoSucursales"/>
</message>
<message name="listadoSucursalesResponse">
<part name="parameters" element="tns:listadoSucursalesResponse"/>
</message>
<message name="listadoClinicas">
<part name="parameters" element="tns:listadoClinicas"/>
</message>
<message name="listadoClinicasResponse">
<part name="parameters" element="tns:listadoClinicasResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getSucursal">
<part name="parameters" element="tns:getSucursal"/>
</message>
<message name="getSucursalResponse">
<part name="parameters" element="tns:getSucursalResponse"/>
</message>
<portType name="srvClinica">
<operation name="listadoSucursalByClinica">
<input wsam:Action="http://servicios/srvClinica/listadoSucursalByClinicaRequest" message="tns:listadoSucursalByClinica"/>
<output wsam:Action="http://servicios/srvClinica/listadoSucursalByClinicaResponse" message="tns:listadoSucursalByClinicaResponse"/>
</operation>
<operation name="listadoSucursales">
<input wsam:Action="http://servicios/srvClinica/listadoSucursalesRequest" message="tns:listadoSucursales"/>
<output wsam:Action="http://servicios/srvClinica/listadoSucursalesResponse" message="tns:listadoSucursalesResponse"/>
</operation>
<operation name="listadoClinicas">
<input wsam:Action="http://servicios/srvClinica/listadoClinicasRequest" message="tns:listadoClinicas"/>
<output wsam:Action="http://servicios/srvClinica/listadoClinicasResponse" message="tns:listadoClinicasResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://servicios/srvClinica/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios/srvClinica/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getSucursal">
<input wsam:Action="http://servicios/srvClinica/getSucursalRequest" message="tns:getSucursal"/>
<output wsam:Action="http://servicios/srvClinica/getSucursalResponse" message="tns:getSucursalResponse"/>
</operation>
</portType>
<binding name="srvClinicaPortBinding" type="tns:srvClinica">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listadoSucursalByClinica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoSucursales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoClinicas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSucursal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="srvClinica">
<port name="srvClinicaPort" binding="tns:srvClinicaPortBinding">
<soap:address location="http://localhost:8080/SyncPetServices/srvClinica"/>
</port>
</service>
</definitions>